@model List<EnergyManagementMvc.Models.Energy>
<h1 style="color:orangered">Energy Management System</h1>

<br />

<script src="~/lib/jquery/dist/jquery.js"></script>
<style>
     table {
         width: 100%;
         border-style: solid;
        
    }

     th {
         text-align: center;
         font-size: 22px;
         background-color: lightgrey;
         border-style: solid;
        
    }

    
     td {
         text-align: center;
         border-style: ridge;
        
    }
    
</style>

<div>
        <div>
                <form asp-controller="Home" asp-action="Index" id="form" method="post" enctype="multipart/form-data">
                        <input type="file" id="file" name="postedFile" />
                        <button id="submit" class="btn btn-success" value="Save" >Save</button>
            
        </form>
        
    </div>
        <div class="container">
                <div class="row">
                        @if (Model != null && Model.Count != 0)
                {
                            <table>
                
                <thead>
                    
                    <tr>
                        
                        <th>
                                                            AccountId
                            
                        </th>
                        
                        <th>
                                                            First Name
                            
                        </th>
                        
                        <th>
                                                            Second Name
                            
                        </th>
                        
                        <th>
                                                            Meter Reading
                            
                        </th>
                        
                        <th>
                                                            Meter Value
                            
                        </th>
                        
                    </tr>
                    
                </thead>
                
                <tbody>
                    
                                            @foreach (var data in Model)
                    {
                    
                    <tr>
                        
                        <td>
                                                                @data.accountId
                            
                        </td>
                        
                        <td>
                                                                @data.firstName
                            
                        </td>
                        
                        <td>
                                                                @data.lastName
                            
                        </td>
                        
                        <td>
                                                                @data.meterReadingDateTime
                            
                        </td>
                        
                        <td>
                                                                @data.meterReadValue
                            
                        </td>
                        
                    </tr>
                                            }
                    
                    
                    
                </tbody>
                
            </table>
                        }
            
        </div>
        
        
    </div>
    
</div>
<script>
    $("#submit").click(function () {
        if ($("#file").val() == '') {
            alert("Choose a csv file to upload");
        }
        else {
            if (confirm("DO you sure wanna save?")) {
                $("#submit").submit();
            }
        }
    });
</script>


